footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  h3 {
    font-size: 32px;
    line-height: 35px;
    font-weight: bold;
    color: #1d0605e5;
    margin-bottom: 10px;
  }
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  hr{
    width: 950px;
  }
}
footer .logo {
  color: #f59a1b;
  img {
    filter: hue-rotate(-15deg) saturate(3000%) brightness(50%);
  }
}
footer .socialMidias img{
 filter: hue-rotate(0deg) saturate(1000%) brightness(50%);
}
footer .nav-bar{
    margin: 25px 0;
}
.copy{
    margin: 5px 0;
    font-size: 14px;
    font-weight: 700;
}
